body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.title-bar {
  padding: 20px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__button {
    padding: 12px;
    background-color: #555555;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: none;
    transition: opacity 400ms linear;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    &:hover {
      opacity: 75%;
    }
  }
}

// Add your scss below this line

#grid {
  display: grid;
  grid-column-gap: 1rem;
  row-gap: 1rem;
  padding: 2rem;
  @media only screen and (min-width: 576px) {
		grid-template-columns: repeat(2, 1fr);
	}
  @media only screen and (min-width: 768px) {
		grid-template-columns: repeat(3, 1fr);
	}
  @media only screen and (min-width: 1025px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.card{
  background-color: #fe5b41;
  font-family: Arial, Helvetica, sans-serif;

  .product {
    &__image {
      margin:1px;
      img {
        max-width: 100%;
      }
    } 
    &__info {
      margin: 10px;
    }
    &__title {
      height: 56px;
    }
    &__price {
      font-size: 18px;;
    }
    &__tags{
      text-transform: capitalize;
    }
  }
}