body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
.title-bar {
  padding: 20px;
  background-color: #EFEFEF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__button {
    padding: 12px;
    background-color: #555555;
    color: #FAFAFA;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 14px;
    border: none;
    transition: opacity 400ms linear;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    &:hover {
      opacity: 75%;
    }
  }
}

// Add your scss below this line
#Products-Container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 3em;
}
.product-holder {
  display: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  flex-basis: 20%;
  padding: 2em;
  margin: 2em;
  -webkit-box-shadow: 0px 9px 13px -7px #000000;
    box-shadow: 0px 9px 13px -7px #000000;
  img {
    width:100%;
    height: auto;
  }
  .cart-button {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 1em;
    background: linear-gradient(to left, #000 50%, salmon 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
    &:hover {
      background-position: left;
    }
  }
}